<%- include ("partials/header") %>

<div>
    <h1>
        Cisco Collab Resource Monitor Tool - CMS
    </h1>
</div>

<div style="padding: 20px 0px 0px 10px;">
    <form action="/resources/cms/overview" method="GET" name="getactivecalls" style="padding: 20px 0px 0px 10px;">
        <button class="btn btn--primary">Overview</button>
    </form>
    <form action="/resources/cms/status" method="GET" name="systemstatusand alarms" style="padding: 20px 0px 0px 10px;">
        <button class="btn btn--secondary">System Status and Alarms</button>
    </form>
    <form action="/resources/cms/calls" method="GET" name="cmscalls" style="padding: 20px 0px 0px 10px;">
        <button class="btn btn--dark">Calls</button>
    </form>
</div>

<%- include ('partials/footer') %>