<%- include ("partials/header") %>

<div>
    <h1 class="display-4">
        Cisco Collab Resource Monitor Tool - CMS
    </h1>
</div>

<div style="padding: 20px 0px 0px 10px;">
    <form action="/resources/cms/activecalls" method="GET" name="getactivecalls" style="padding: 20px 0px 0px 10px;">
        <button class="btn btn--primary">Active Calls</button>
    </form>
    <form action="/resources/cms/ssh" method="GET" name="cmsssh" style="padding: 20px 0px 0px 10px;">
        <button class="btn btn--primary">CMS SSH</button>
    </form>
</div>

<%- include ('partials/footer') %>