<%- include ("partials/header") %>

<div>
    <h1 class="display-4">
        Cisco Collab Resource Monitor Tool - CMS Active Calls
    </h1>
</div>

<div style="padding: 20px 0px 0px 10px;">

    <p>
        Body : <%=body%>
    </p>
    <p>
        statusCode : <%=status%>
    </p>
    
</div>


<%- include ('partials/footer') %>