<%- include ("partials/header") %>

<div>
    <h1>
        Cisco Meeting Server
    </h1>
</div>
<!--Manipulating some data-->
<!--Manipulating some data-->

<div style="padding: 20px 0px 0px 10px;">

    <div class="panel panel--loose panel--raised base-margin-bottom">
        <h2 class="subtitle">Alarms and Status</h2>
        <hr>
        <div class="section">
            <div class="responsive-table">
                <table class="table table--lined table--selectable">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Number of Alarms</td>
                            <td><%= httpdetails.body.alarms.$.total %></td>
                        </tr>
                        <tr>
                            <td>Alarms</td>
                            <td><%= httpdetails.xml %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footernotification') %>