<%- include ("partials/header") %>

<h1>
    Cisco Collab Resource Monitor Tool
</h1>

<div class="baseoptions" style="padding: 20px 0px 0px 10px;">
    <a href="/resources/vcs" class="btn btn--primary">Expressway</a>
    <a href="/resources/cms" class="btn btn--secondary">Cisco Meeting Server</a>
    
</div>



<%- include ('partials/footer') %>