<%- include ("partials/header") %>

<div>
    <h1>
        Cisco Collab Resource Monitor Tool - Expressway
    </h1>
</div>

<div style="padding: 20px 0px 0px 10px;">
    <form action="/resources/vcs/ssh" method="GET" name="sshtest">
        <button class="btn btn--primary">SSH Connection</button>
    </form>
</div>

<%- include ('partials/footer') %>